<!--  insertion du texte warning   -->
<div id="warning">
    <p class="warningText">"Pour tous les produits et plateformes mis en avant, CryptoballZ a effectué des recherches en amont et/ou a testé les services en question. Cependant, CryptoballZ ne pourrait être tenu responsable, directement ou indirectement, pour tout dommage ou perte pécunière causé suite à l’utilisation d’un service mis en perspective dans notre site Internet. Les cryptomonnaies restent un investissement volatil et risqué. Nous vous conseillons d’effectuer vos propres recherches en amont. N’investissez que ce que vous êtes prêts à perdre !"</p>    
</div>
<div id="footer_container">
    <!--  insertion du footer   -->
    <p>A propos de CryptoBallZ</p>
    <p>Publicité</p>
    <a href="https://twitter.com/CryptoballZblog" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    
    <p>Copyright © <%= currentYear %> cryptoballz.com | Powered by cryptoballz.com</p>
</div>
<noscript>Pour utiliser ce site, merci d'activer JavaScript.</noscript>