<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <%- include('partials/header') %>
<title>403 connection non autorisée _ CryptoBallZ </title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-container">
                
                <!-- the menu -->
                <%- include('partials/menu') %> 
            </div>    
        </header>
    
        <div class="errorPage">
            <img class="errorPage_img" src="https://miro.medium.com/max/1400/1*MIrLuyiCDpdNbnFYxYlKtA.png" alt="Image d'accueil de CryptoBallZ">
            <p class="errorPage_title">403</p>
            <p class="errorPage_message">Connection non autorisée !!!</p>
            <p class="errorPage_message"><a style="color:blue" href="/">Retour à la page d'accueil</a></p>
        </div>  
    </div>
</body>
<footer>
    <%- include ('partials/footer') %>
</footer>
</html>