<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <%- include('partials/header') %>
    <title>Le Bitcoin _ CryptoBallZ </title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-container">
                
                <!-- the menu -->
                <%- include('partials/menu') %>             
                
            </div>    
        </header>
        <main class="mainHome">
            <h1 style="padding-top:5rem; text-align:center; font-size: 2rem;">Espace Administrateur</h1>
            <form action="/admin" enctype="multipart/form-data" method="POST"> 
                <br>
                <h2>SEO</h2>
                <input class="input" type="text" name="metaDescription" placeholder="contenu pour la balise meta description">
                <input class="input" type="text" name="pageTitle" placeholder="titre de la page avec - entre les mots">
                <br><br>
                <h2>Vignette Article</h2>
                <p class="consignes"> L'image doit avoir une largeur minimale de 696 pixels pour la page Article.</p>                
                <input type="file" name="vignetteAndArticleImages" multiple/>
                <input class="input" type="text" name="vignetteImageName" placeholder="Titre de l'image de la vignette">
                <input class="input" type="text" name="altVignetteImage" placeholder="alt de l'image de la vignette">
                <input class="input" type="text" name="vignetteTitle" placeholder="Titre Vignette">
                <textarea class="textarea" placeholder="4 lignes max" rows="3" name="vignetteIntro"></textarea>
                <br>
                <h2>Page Article</h2>
                <input class="input" type="text" name="articleImageName" placeholder="Titre de l'image de l'article avec extension">
                <input class="input" type="text" name="altArticleImage" placeholder="alt de l'image de l'article">
                <input class="input" type="text" name="articleTitle1" placeholder="Titre 1">
                <input class="input" type="text" name="articleIntro" placeholder="Intro">
                <input class="input" type="text" name="articleAuthor" placeholder="Author">
                <input class="input" type="text" name="articleDate" placeholder="Date">
                <input class="input" type="text" name="articleTitle2" placeholder="Titre 2">
                <textarea class="textarea" placeholder="10 lines of textarea" rows="10" name="articleContainer1"></textarea>
                    <!-- Encart Binance -->
                    <div class="control">
                        <label class="radio">Binance
                        <input type="radio" name="binance">
                        Yes
                        </label>
                        <label class="radio">
                        <input type="radio" name="binance">
                        No
                        </label>
                    </div>
                    <!-- Encart Crypto.com -->
                    <div class="control">
                        <label class="radio">Crypto.com
                        <input type="radio" name="crypto">
                        Yes
                        </label>
                        <label class="radio">
                        <input type="radio" name="crypto">
                        No
                        </label>
                    </div>
                    <!-- Encart FTX-->
                    <div class="control">
                        <label class="radio">FTX
                        <input type="radio" name="ftx">
                        Yes
                        </label>
                        <label class="radio">
                        <input type="radio" name="ftx">
                        No
                        </label>
                    </div>
                <input class="input" type="text" name="articleTitle3" placeholder="Titre 3">
                <textarea class="textarea" placeholder="10 lines of textarea" rows="10" name="articleContainer2"></textarea>
                <!-- Encart Binance -->
                <div class="control">
                    <label class="radio">Binance
                    <input type="radio" name="binance2">
                    Yes
                    </label>
                    <label class="radio">
                    <input type="radio" name="binance2">
                    No
                    </label>
                </div>
                <!-- Encart Crypto.com -->
                <div class="control">
                    <label class="radio">Crypto.com
                    <input type="radio" name="crypto2">
                    Yes
                    </label>
                    <label class="radio">
                    <input type="radio" name="crypto2">
                    No
                    </label>
                </div>
                <!-- Encart FTX-->
                <div class="control">
                    <label class="radio">FTX
                    <input type="radio" name="ftx2">
                    Yes
                    </label>
                    <label class="radio">
                    <input type="radio" name="ftx2">
                    No
                    </label>
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-link">Submit</button>
                  </div>
                  <div class="control">
                    <button class="button is-link is-light">Cancel</button>
                  </div>
                </div>  
            </form>            
        </main>
    </div>
    </body>
    <footer>
        <%- include ('partials/footer') %>        
    </footer>
</html>