<!DOCTYPE html>
<html lang="fr-FR">
<head>
<%- include('../partials/header') %>
<title>Acheter du Bitcoin sur FTX _ CryptoBallZ </title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-container">
                <a href="/"><img class="header-logo" src="/img/CryptoballZ_logo.png" alt="CryptoBallZ logo"></a>
                <!-- the menu -->
                <%- include('../partials/menu') %>             
                
            </div>    
        </header>
        <main class="mainHome">
            <article class="mainHome-header_article">
                
                <div class="mainHome-header_article_container"> 
                    <img class="mainHome-header_article_img-picture" src="\img\le bitcoin\acheter\Crypto\Crypto.com_accueil_cryptoballZ_3.png" alt="Crypto.com">
                    <h1 class="mainHome-header_article_container-title">Comment acheter du Bitcoin sur Crypto.com ?</h1>
                    <p class="mainHome-header_article-presentation">Dans cet article, nous vous expliquons comment acheter facilement du Bitcoin ou des Satoshis sur <strong><a href="https://referral.crypto.com/signup?_branch_match_id=1051098621755733058" target="_blank" title="inscription sur Crypto.com">Crypto.com</a></strong>. Que vous soyez débutant pour prendre en main cette plateforme d’échange de cryptomonnaies, ou expérimenté, cet article vous explique pas à pas comment procéder. Cliquez sur le lien suivant afin de vous rendre sur Crypto.com. Si vous vous inscrivez et que vous réussissez la vérification d’identité KYC (Know your customer), ce lien vous permettra de bénéficier d’un bonus d’inscription de 25 USD (25 USD en CRO (cryptomonnaie de Crypto.com)) si vous commandez une carte Crypto.com.</p>
                    <!-- Inscription Crypto.com-->
                    <a class="mainHome-publication_contain-portraitPicture-link" href="https://referral.crypto.com/signup?_branch_match_id=1051098621755733058" target="_blank" title="inscription sur Crypto.com"><img class="mainHome-publication_contain-portraitPicture" src="\img\le bitcoin\acheter\Crypto\crypto.com code promo.png" alt="S'inscrire sur Crypto.com et obtenir un bonus de 25USD"></a>
                </div>
            </article> 

            <article class="mainHome-publication">
                <h2 class="mainHome-publication_title">C’est quoi Crypto.com au juste ?</h2>
                <p class="mainHome-publication_contain mainHome-publication_contain--first">Crypto.com est un acteur du monde des cryptomonnaies qui d’année en année monte en notoriété et fait de plus en plus parler de lui. Cette plateforme d’échange de cryptomonnaies veut faciliter l’adoption des cryptos dans le monde et pour cela, utilise sur une stratégie marketing efficace appuyée par de nombreux partenariat comme en Formule 1, au Hockey et récemment avec UFC (Ultimate Fighting Championship).</p>
                <img class="mainHome-publication_contain-portraitPicture" src="\img\le bitcoin\acheter\Crypto\Crypto.com_accueil_cryptoballZ_3.jpeg" alt="Plateforme Crypto.com">
                <p class="mainHome-publication_contain"> Crypto.com est surtout connue car c’est la première plateforme qui a proposé une carte bancaire crypto permettant de toucher du cashback en cryptos (ici le CRO). L’entreprise a développé une blockchain dont le CRO est le token d’utilisation. Crypto.com propose une application qui est très facile d’utilisation.</p>                 
            </article>

            <article class="mainHome-publication">
                <h2 class="mainHome-publication_title">Comment s’inscrire sur l’application Crypto.com ?</h2>
                <p class="mainHome-publication_contain mainHome-publication_contain--first">1. Tout d’abord télécharger l’application Crypto.com. Pour cela cliquez sur le lien ci-dessous. Si vous vous inscrivez et que vous réussissez la vérification d’identité KYC (Know your customer), ce lien vous permettra de bénéficier d’un <strong>bonus d’inscription de 25 USD</strong> (25 USD en CRO verrouillé dans votre portefeuille CRO (cryptomonnaie de Crypto.com)) si vous commandez une carte Crypto.com.</p>
                <!-- Inscription sur Crypto.com -->
                <a class="mainHome-publication_contain-portraitPicture-link" href="https://referral.crypto.com/signup?_branch_match_id=1051098621755733058" target="_blank" title="inscription sur Crypto.com"><img class="mainHome-publication_contain-portraitPicture" src="\img\le bitcoin\acheter\Crypto\crypto.com code promo.png" alt="S'inscrire sur Crypto.com et obtenir un bonus de 25USD"></a>
                <p class="mainHome-publication_contain">2. Entrez ensuite votre email et vérifiez bien que le Referral Code correpond à <strong>yeec5sx2uu</strong></p>
                <img class="mainHome-publication_contain-portraitPicture" src="\img\le bitcoin\acheter\Crypto\Crypto.com_inscription_cryptoballZ_1.jpg" alt="S'inscrire sur Crypto.com etape 2">   
                <p class="mainHome-publication_contain">3. Appuyez sur <strong>[Submit]</strong> après avoir réalisé le CAPTCHA. Vous pouvez maintenant télécharger l’application selon le navigateur de votre smartphone sur l’Apple Store ou sur Google Play Store.</p>
                <img class="mainHome-publication_contain-portraitPicture" src="\img\le bitcoin\acheter\Crypto\Crypto.com_inscription_cryptoballZ_2.jpg" alt="S'inscrire sur Crypto.com etape 3"> 
                <p class="mainHome-publication_contain">4. Après avoir téléchargé l’application Crypto.com, vérifiez que le code de parrainage <strong>yeec5sx2uu</strong> , vous permettant de bénéficier du bonus, a bien été pris en compte en cliquant sur le <strong>Invited? Add Referral Code</strong> de votre application :</p>
                <img class="mainHome-publication_contain-portraitPicture" src="\img\le bitcoin\acheter\Crypto\Crypto.com_inscription_cryptoballZ_3.png" alt="S'inscrire sur Crypto.com etape 4"> 
                <p class="mainHome-publication_contain">5. Si ce n’est pas le cas, renseignez à nouveau le code <strong>yeec5sx2uu</strong></p>
                <p class="mainHome-publication_contain">6. Ensuite, cliquez maintenant sur le bouton <strong>Sign Up</strong> pour commencer votre inscription sur Crypto.com. Entrez votre adresse email (la même que celle utilisée précédemment) puis continuez.</p>
                <img class="mainHome-publication_contain-portraitPicture" src="\img\le bitcoin\acheter\Crypto\Crypto.com_inscription_cryptoballZ_4.jpg" alt="S'inscrire sur Crypto.com etape 6"> 
                <p class="mainHome-publication_contain">7. Un lien de confirmation vous sera envoyé dans votre boîte de courrier électronique. <strong>Cliquez sur le lien</strong> afin de vérifier votre email.</p>
                <img class="mainHome-publication_contain-portraitPicture" src="\img\le bitcoin\acheter\Crypto\Crypto.com_inscription_cryptoballZ_5.jpg" alt="S'inscrire sur Crypto.com etape 7"> 
                <p class="mainHome-publication_contain">8. Une fois que vous avez cliqué sur ce lien, l’application va s’ouvrir de nouveau afin de renseigner votre numéro de téléphone. Entrez votre numéro de téléphone et cliquez sur <strong>Send Verification Code</strong> et enfin entrez le code reçu par SMS.</p>
                <img class="mainHome-publication_contain-portraitPicture" src="\img\le bitcoin\acheter\Crypto\Crypto.com_inscription_cryptoballZ_6.jpg" alt="S'inscrire sur Crypto.com etape 8">                 
            </article>

            <article class="mainHome-publication">
                <h2 class="mainHome-publication_title">La procédure de vérification d’identité (KYC)</h2>
                <p class="mainHome-publication_contain">La dernière étape, afin d’utiliser l’application Crypto.com, est la procédure de vérification d’identité. Pour cela, vous avez besoin de renseigner votre nom et prénom, de transmettre une photo d’un document d’identité (passeport, carte d’identité ou permis de conduire) et suivez les étapes.</p>
                <p class="mainHome-publication_contain">Après avoir renseigné les éléments souhaités, un selfie vous sera demandé. Une fois le processus fait, vous devrez alors attendre quelques heures pour que vos informations soient vérifiées par les équipes de Crypto.com.</p>
                <p class="mainHome-publication_contain">Après cette vérification d’identité faite, vous devriez voir apparaître votre <strong>bonus de 25 USD</strong> apparaitre sur votre application. Cependant, le bonus est bloqué pour le moment. Une dernière étape reste à réaliser afin de le débloquer en commandant une carte de bancaire Crypto.com</p>                             
            </article>
            
            <article class="mainHome-publication">
                <h2 class="mainHome-publication_title">Pourquoi commander une carte Visa Crypto.com ?</h2>                
                <p class="mainHome-publication_contain">Les cartes Visa de Crypo.com permettent de bénéficier de plusieurs avantages (en fonction du modèle choisi) :</p>
                <img class="mainHome-publication_contain-portraitPicture" src="\img\le bitcoin\acheter\Crypto\Crypto.com_cards_cryptoballZ_1.jpg" alt="Les cartes de Crypto.com">
                <ul>
                    <li class="mainHome-publication_contain-list">Bénéficier d’un cashback de 1% à 8% à chaque dépense (en fonction du nombre de CRO stacké)</li>
                    <li class="mainHome-publication_contain-list">Utiliser ces cartes comme toute autre carte Visa « normale » pour faire vos achats</li>    
                    <li class="mainHome-publication_contain-list">Retirer des espèces aux distributeurs</li>      
                    <li class="mainHome-publication_contain-list">Obtenez Netflix 100% remboursé</li>    
                    <li class="mainHome-publication_contain-list">Bénéficiez de Spotify 100% remboursé</li> 
                    <li class="mainHome-publication_contain-list">Profitez de Prime 100% remboursé (service Amazon)</li>    
                    <li class="mainHome-publication_contain-list">Réduction de 10% sur vos voyages réservés avec Expedia ou Airbnb</li> 
                    <li class="mainHome-publication_contain-list">Pas de frais mensuels</li>
                    <li class="mainHome-publication_contain-list">Pas de frais annuels</li>
                </ul>  
            </article>

            <article class="mainHome-publication">
                <h2 class="mainHome-publication_title">Les cartes Visa Crypto.com ?</h2>
                <p class="mainHome-publication_contain mainHome-publication_contain--first">Crypto.com propose plusieurs cartes Visa avec différents avantages selon la quantité de CRO (token ou cryptomonnaie de Crypto.com) que vous stackez. Stackez ? Stacker, est la quantité de CRO que vous mettez de coté pendant minimum 6 mois.</p>
                <p class="mainHome-publication_contain">Les cartes Visa de Crypto.com vous permettent de récupérer du cashback en CRO pour chaque achat effectué avec. Par exemple, si vous avez la carte Obsidian et que vous dépensez 100 euros pour un achat, vous récupérez sur votre compte Crypto.com 8 euros en équivalent CRO. Le tableau ci-dessous vous permet de comparer ce que peut vous apporter comme cashback chacune des cartes Visa proposées en fonction du montant en euro de CRO stacké.</p>
                <figure><img class="mainHome-publication_contain-landPicture" src="\img\le bitcoin\acheter\Crypto\Crypto.com_cards_cryptoballZ_2.jpg" alt="Les cartes de Crypto.com"><figcaption>Tableau comparatif des cashback des différents modèles de cartes crypto.com – 01/08/2021</figcaption></figure>
                <p class="mainHome-publication_contain">Donc à titre d’exemple, pour obtenir la carte Ruby Steel, il vous faudra stacker l’équivalent de 350 euros pendant 6 mois minimum en équivalent CRO (soit 2692.31 CRO au 01/08/2021).</p>
                <p class="mainHome-publication_contain">Les cartes Visa Crypto.com vous offrent également d’autres avantages. Le tableau ci-dessous vous permet de comparer ce que peut vous apporter comme avantages supplémentaires chacune des cartes Visa proposées en fonction du montant en euro de CRO stacké.</p>
                <figure><img class="mainHome-publication_contain-landPicture" src="\img\le bitcoin\acheter\Crypto\Crypto.com_cards_cryptoballZ_3.jpg" alt="Les cartes de Crypto.com"><figcaption>Tableau comparatif des avantages des différents modèles de cartes crypto.com – 01/08/2021</figcaption></figure>                                 
            </article>

            <article class="mainHome-publication">
                <h2 class="mainHome-publication_title">Débloquez votre bonus de 25USD</h2>
                <p class="mainHome-publication_contain mainHome-publication_contain--first">Afin de <strong>débloquer votre bonus de 25USD</strong> vous devez commander n’importe quelle carte VIsa de Crypto.com <strong>sauf le modèle Midnight Blue</strong>. Pour cela, allez dans l’application Crypto.com, une fois connecté, cliquez sur l’icone « card » dans le coin inférieur droit de l’application.</p>
                <img class="mainHome-publication_contain-portraitPicture" src="\img\le bitcoin\acheter\Crypto\Crypto.com_cards_cryptoballZ_4.jpg" alt="Les cartes de Crypto.com">
                <p class="mainHome-publication_contain">Ensuite, sélectionnez la carte qi vous correspond en fonction de l’équivalent de CRO à stacker et des avantages que vous souhaitez obtenir. Si vous avez suffisamment de CRO sur le portefeuille de votre application pour les Staker pendant la période de verrouillage de 6 mois vous pouvez soumettre votre demande et confirmer votre adresse de livraison.</p>                
                <p class="mainHome-publication_contain">Chargez votre carte (avec des EURO, des bitcoins (BTC), des ethers (ETH), des litecoins (LTC), des EOS, des stellar lumens (XLM), des XRP de Ripple, et <strong>profitez du cashback de votre carte crypto.com !</strong></p>                                                 
            </article>

            <article class="mainHome-publication">
                <h2 class="mainHome-publication_title">Acheter du bitcoin avec Crypto.com</h2>
                <p class="mainHome-publication_contain mainHome-publication_contain--first">Il est très simple d’acheter du Bitcoin avec l’application Crypto.com.</p>                
                <p class="mainHome-publication_contain">1. Allez dans l’application et cliquez sur le cours du Bitcoin dans les favoris</p>                
                <img class="mainHome-publication_contain-portraitPicture" src="\img\le bitcoin\acheter\Crypto\Crypto.com_cards_cryptoballZ_5.jpg" alt="Acheter du bitcoin sur Crypto.com etape 1">
                <p class="mainHome-publication_contain">2. En bas de page, cliquez sur « Acheter du BTC »</p>
                <img class="mainHome-publication_contain-portraitPicture" src="\img\le bitcoin\acheter\Crypto\Crypto.com_cards_cryptoballZ_6.jpg" alt="Acheter du bitcoin sur Crypto.com etape 2">
                <p class="mainHome-publication_contain">3. Sélectionnez avec quoi vous souhaitez acheter du BTC, une carte de crédit, votre portefeuille Crypto ou votre portefeuille Fiat (les euros disponibles dans votre portefeuille)</p>
                <img class="mainHome-publication_contain-portraitPicture" src="\img\le bitcoin\acheter\Crypto\Crypto.com_cards_cryptoballZ_7.jpg" alt="Acheter du bitcoin sur Crypto.com etape 3">
                <p class="mainHome-publication_contain">4. Validez.</p>
                <p class="mainHome-publication_contain">5. Maintenant vous êtes l’heureux(se) propriétaire de Bitcoin !</p>
            </article>

            <section class="mainHome-publication">    
                <div id="buyBitcoinMiniature"></div><!-- publication des miniature sur buy Bitcoin -->                
            </section>          
            
            
        </main>
    </div>
    </body>
    <footer>
        <%- include ('../partials/footer') %>
        <script src="/js/buyBitcoin.js"></script>
    </footer>
</html>