<!DOCTYPE html>
<html lang="fr-FR">
<head>
<%- include('../partials/header') %>
<title>Choisissez un pack de cryptomonnaies _ CryptoBallZ </title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-container">
                <a href="/"><img class="header-logo" src="../img/CryptoballZ_logo.png" alt="CryptoBallZ logo"></a>
                <!-- the menu -->
                <%- include('../partials/menu') %>             
                
            </div>    
        </header>
        <main class="mainHome">
            <article class="mainHome-header_article">
               <div class="mainHome-header_article_img">
                    <img class="mainHome-header_article_img-picture" src="../img/articles/Et si vous choisissiez un pack crypto\Feel-Mining-logo-1bis.jpg" alt="Un pack crypto">                    
               </div> 
               <div class="mainHome-header_article_container">     
                    <h1 class="mainHome-header_article_container-title">Et si vous choisissiez un Pack Cryptomonnaies ?</h1>
                    <p class="mainHome-header_article-presentation">Si vous voulez une solution simple pour investir dans des cryptomonnaies nécessitant aucune connaissance technique alors choisissez un pack d’investissement crypto. Ces packs regroupent un panel de cryptomonnaies ce qui évite de mettre tout son argent sur une seule crypto au risque de subir de grosses pertes si son cours chute brusquement.</p>
                </div>
            </article> 

            <article class="mainHome-publication">
                <h2 class="mainHome-publication_title">Du Hold au trading</h2>
                <p class="mainHome-publication_contain mainHome-publication_contain--first">Si vous fréquentez le monde des cryptodevises, vous constaterez que sur les comptes Telegram, Discord, Twitter qui en parlent, on aborde souvent le terme <strong><a href="/faq#hold" target="_blank">HOLD</a></strong> ! Ce mot signifie que l’on achète à un moment donné une crypto que l’on souhaite garder sur le long terme (de plusieurs mois à plusieurs années) car on pense qu’elle prendra de la valeur dans le futur. Il faut alors avoir les nerfs solides lorsqu’un crack se produit (ce qui arrive souvent avec les cryptomonnaies !). L’autre technique que l’on rencontre souvent est le <strong><a href="/faq#trading">trading</a></strong> de cryptomonnaies, soit le Day Trading (Réaliser un grand nombre d’opérations de petite taille dans une même journée, et clôturer toutes les positions avant la fin de la séance) ou soit le Scalping (réaliser des ordres très courts, dans le sens de la tendance, en prenant des gains nombreux mais extrêmement faibles). Mais ces méthodes nécessitent une connaissance technique pointue si l’on ne veut pas jouer à la roulette. Vous pouvez alors choisir de laisser une entreprise de sélectionner pour vous les cryptomonnaies les plus prometteuses dans le temps que l’on peut Hold. C’est cette solution que peut vous apporter l’entreprise <strong><a href="https://feel-mining.com/registration/godfather/PAR8270536" target="_blank">Feel Mining</a></strong>.</p>
            </article>
                
            <article class="mainHome-publication">
                <h2 class="mainHome-publication_title">Feel Mining, c’est du sérieux !</h2>
                <p class="mainHome-publication_contain mainHome-publication_contain--first">L'entreprise <strong><a href="https://feel-mining.com/registration/godfather/PAR8270536" target="_blank">Feel Mining</a></strong> vous propose plusieurs sortes de packs d’investissement en cryptomonnaies. Feel Mining est une société française créée en 2018 qui a été agréée prestataire de services sur actifs numériques (PSAN) par l’autorité des marchés financiers (AMF), autant dire du sérieux ! On n’a pas toujours le temps de suivre chaque projet derrière chaque crypto, ou de regarder où se situe son cours. C’est pourquoi, Feel Mining propose une solution simple et rapide avec des packs tout inclus. De plus, vous pouvez résilier votre contrat à tout moment et sans frais d’un simple clic, en réclamant le montant total ou partiel que vous avez investi. Autre possibilité qu’offrent ces packs, vous avez la possibilité de tout investir en une seule fois ou de choisir d’investir un peu tous les mois.!</p>
            </article>
            
            <article class="mainHome-publication">
                <h2 class="mainHome-publication_title">Des packs Cryptos</h2>
                <p class="mainHome-publication_contain mainHome-publication_contain--first">Plusieurs packs Cryptos vous sont proposés en fonction de votre profil d’investisseur. Chaque pack Cryptos propose aussi un niveau de risque selon sa composition. Voici, ci-dessous, les différents packs cryptos, à vous de choisir :</p>
                
                <h3 class="mainHome-publication_subtitle">Serenity</h3>
                <p class="mainHome-publication_contain">Ce pack s’adresse à un profil d’investisseur type « bon père de famille ». Il est composé de produits stables qui affichent une liquidité et un market cap important du jeton. :</p>
                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles\Et si vous choisissiez un pack crypto/Et si vous choisissiez un pack crypto 1.png" alt="Choisir un pack crypto Feel Mining Serenity">
                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles\Et si vous choisissiez un pack crypto/Et si vous choisissiez un pack crypto 6.png" alt="Choisir un pack crypto Feel Mining Serenity">
                
                <h3 class="mainHome-publication_subtitle">Discovery</h3>
                <p class="mainHome-publication_contain">Ce pack s’adresse à un profil d’investisseur cherchant un juste équilibre entre stabilité et performance. Il est composé de plusieurs projets Staking  stables et pérennes mais aussi de plusieurs projets Masternodes plus dynamiques.</p>
                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles\Et si vous choisissiez un pack crypto/Et si vous choisissiez un pack crypto 2.png" alt="Choisir un pack crypto Feel Mining Discovery">
                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles\Et si vous choisissiez un pack crypto/Et si vous choisissiez un pack crypto 7.png" alt="Choisir un pack crypto Feel Mining Discovery">
                   
                <h3 class="mainHome-publication_subtitle">Challenger</h3>
                <p class="mainHome-publication_contain">Ce pack s’adresse à un profil d’investisseur cherchant le meilleur rendement assorti d’une prise de  risque très optimisée. Il se compose uniquement de produits Masternodes aux rendements attractifs mais présentant des volumes d’échanges de leurs jetons plus faibles ainsi qu’une volatilité importante.:</p>
                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles\Et si vous choisissiez un pack crypto/Et si vous choisissiez un pack crypto 3.png" alt="Choisir un pack crypto Feel Mining Challenger">
                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles\Et si vous choisissiez un pack crypto/Et si vous choisissiez un pack crypto 8.png" alt="Choisir un pack crypto Feel Mining Challenger">
                
                <h3 class="mainHome-publication_subtitle">Opportunity</h3>
                <p class="mainHome-publication_contain">Ce pack s’adresse à un profil d’investisseur cherchant une bonne diversification de son portefeuille en misant sur 6 projets prometteurs. Les actifs numériques présents dans ce Pack affichent de fortes capitalisations ce qui en fait un placement avec une très bonne liquidité.</p>
                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles\Et si vous choisissiez un pack crypto/Et si vous choisissiez un pack crypto 4.png" alt="Choisir un pack crypto Feel Mining Challenger">
                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles\Et si vous choisissiez un pack crypto/Et si vous choisissiez un pack crypto 5.png" alt="Choisir un pack crypto Feel Mining Challenger">
            </article>
            <article class="mainHome-publication">
                <p class="mainHome-publication_contain mainHome-publication_contain--conclusion">En conclusion, si vous souhaitez investir sereinement dans les cryptomonnaies, sans vous embêter avec toutes ces analyses techniques, n’hésitez pas à vous inscrire sur l’entreprise française <strong><a href="https://feel-mining.com/registration/godfather/PAR8270536" target="_blank" style="text-decoration : underline">Feel Mining</a>.</p>
            </article>

            <div class="mainHome-publication">    
                <div id="buyBitcoinMiniature"></div><!-- publication des miniature sur buy Bitcoin -->                
            </div> 
            
            
            
        </main>
    </div>
    </body>
    <footer>
        <%- include ('../partials/footer') %>
        <script src="../js/buyBitcoin.js"></script>
    </footer>
</html>