<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <%- include('../partials/header') %>
    <title>Le staking sur Binance _ CryptoBallZ </title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-container">
                <a href="/"><img class="header-logo" src="../img/CryptoballZ_logo.png" alt="CryptoBallZ logo"></a>
                <!-- the menu -->
                <%- include('../partials/menu') %>             
                
            </div>    
        </header>
        <main class="mainHome">
            <article class="mainHome-header_article">
               <div class="mainHome-header_article_img">
                    <img class="mainHome-header_article_img-picture" src="../img/articles\Gagner des interets sur Binance\CryptoballZ _ gagner des interets sur Binance 16.jpg" alt="Gagnez des cryptomonnaies sur Binance">
               </div> 
               <div class="mainHome-header_article_container">     
                    <h1 class="mainHome-header_article_container-title">Gagnez des intérêts en crypto sur Binance !</h1>
                    <p class="mainHome-header_article-presentation">Vous souhaitez gagner des cryptomonnaies gratuitement sans vous plonger dans les analyses techniques des cours, ou rester devant un écran toute la journée afin de trouver le bon moment pour acheter ou pour vendre, alors cet article est pour vous. Il existe un autre moyen que de faire du trading pour gagner des cryptomonnaies. Il s’agit d’une offre qui est proposée à tous les investisseurs qui possèdent un compte sur Binance. C’est le staking !</p>
                </div>
            </article> 

            <article class="mainHome-publication">
                <h2 class="mainHome-publication_title">Qu’est-ce que le staking de cryptos ?</h2>
                <p class="mainHome-publication_contain mainHome-publication_contain--first">Tout d’abord, attardons nous sur la définition technique du staking. <strong><a href="https://research.binance.com/en/analysis/rise-of-staking" target="_blank" title="Binance Research">Binance Research</a></strong>  (branche de Binance proposant des analyses poussées aux institutionnels), définit le staking comme :</p>

                <p class="mainHome-publication_contain mainHome-publication_contain--italic">« Le staking est le processus de détention de fonds dans un portefeuille de cryptomonnaie pour soutenir les opérations d’un réseau de blockchain. Il s’agit de verrouiller des cryptomonnaies pour recevoir une récompense. »</p>
                    
                <p class="mainHome-publication_contain">Ok … je n’ai pas compris grand-chose à part récompense ! Pour faire plus simple Sangoku, le staking est un processus utilisé par de nombreux projets pour encourager les investisseurs à participer au bon fonctionnement de la blockchain. Un investisseur possédant un wallet, achète une crypto. Il souhaite conserver cette crypto car il pense que sa valeur va augmenter dans le temps ou bien parce qu’il apprécie le projet qu’il y a derrière. Au lieu de les conserver simplement dans son wallet, il va les staker. Il va bloquer cette crypto pour une durée de plusieurs jours à plusieurs mois. Cette crypto bloquée va participer au bon fonctionnement de la blockchain en question et pour cela l’investisseur va être récompensé en touchant tous les jours un petit pourcentage du montant de sa crypto.</p>
                    
                <p class="mainHome-publication_contain">Pour résumé, je bloque mes cryptos pendant une durée déterminée et en retour je touche tous les jours un pourcentage du montant en crypto que j’ai bloqué. A la fin de la durée, je récupère mes cryptos.</p>
                    
                <p class="mainHome-publication_contain">Prenons un rapide exemple, avec du staking de RAY (Raydium). Vous voyez sur l’image ci-dessous que le staking pendant 30 jours de 100 RAY vous rapportera cumulé 1.08822 RAY en tout.</p>

                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles/Gagner des interets sur Binance/CryptoballZ _ gagner des interets sur Binance 1.jpg" alt="Stacking Binance exemple">

                <p class="mainHome-publication_contain">Donc au bout de 30 jours, <strong>vous vous retrouveriez avec en portefeuille 101.08822 RAY … et sans rien faire d’autre !</strong></p>

                <p class="mainHome-publication_contain">Le processus de staking existe grâce au concept de preuve d’enjeu (<strong><a href="/faq#PoS" target="_blank" title="Proof of Stake">Proof of Stake</a></strong> : PoS)</p>

            </article>
                
            <article class="mainHome-publication">
                <h2 class="mainHome-publication_title">Qu’est-ce que le Proof of Stake ?</h2>
                <p class="mainHome-publication_contain mainHome-publication_contain--first">Le <strong><a href="https://fr.wikipedia.org/wiki/Preuve_d%27enjeu" target="_blank" title="Proof of Stake">Proof of Stake (PoS)</a></strong> ou preuve d’enjeu, ou preuve de participation, est le mécanisme  de consensus d’une blockchain qui garantit le bon fonctionnement de cette dernière. Les cryptomonnaies bloquées sont utilisées pour valider les transactions, faire fonctionner les nœuds et maintenir la bonne santé de la blockchain. Le PoS est différent du mécanisme dit de preuve de travail (Proof of Work). La preuve de travail est le mécanisme qui permet  de sécuriser les protocoles Bitcoin, de la version actuelle d’Ethereum (qui passera par la suite au PoS avec Ethereum 2.0) et de beaucoup d’autres blockchains. Le Proof of Work est critiqué pour le cout en électricité qui découle du processus de minage et son impact environnemental dû à la pollution générée par les sources d’énergies parfois non renouvelables utilisées par certaines centrales de minage.</p>

                <p class="mainHome-publication_contain">Avec la preuve de travail (Proof of Work), une personne peut investir 2 000 euros dans un matériel de minage, le brancher, commencer à participer au réseau en produisant des blocs et recevoir une récompense. Avec la preuve d’enjeu (Proof of Stake), la même personne investit 2 000 euros en achetant directement la cryptomonnaie de la blockchain concernée  puis met en dépôt ces cryptomonnaies fraichement achetées, en utilisant le mécanisme de preuve d’enjeu, qui va ensuite aléatoirement assigner à cette personne le droit de produire des blocs et de recevoir une récompense.</p>
                    
                <p class="mainHome-publication_contain">Si vous souhaitez une explication plus précise sur le mécanisme de preuve d’enjeu, nous conseillons de <strong><a href="https://www.ethereum-france.com/quest-ce-que-la-preuve-denjeu-proof-of-stake-faq-par-v-buterin-traduction-francaise/" target="_blank" title="Qu’est-ce que la preuve d’enjeu ? ">lire cet article</a></strong></p>
                    
            </article>

            <article class="mainHome-publication">
                <h2 class="mainHome-publication_title">Le staking sur Binance</h2>
                <p class="mainHome-publication_contain">Maintenant que nous avons parcouru rapidement les aspects techniques du staking, nous allons vous présenter comment procéder sur <strong><a href="https://accounts.binance.com/fr/register?ref=WD72EP9B" target="_blank" title="S'inscrire sur Binance ">Binance</a></strong>.</p>
                <h3 class="mainHome-publication_subtitle">Le staking sur Binance avec l’application</h3>
                <p class="mainHome-publication_contain">Après s’être inscrit sur Binance, nous vous conseillons d’installer l’application Binance qui est très intuitive d’utilisation.</p>
                <p class="mainHome-publication_contain">Allez sur la page d’accueil de l’application, puis cliquez sur l’icône "<strong>More</strong>"  .</p>
                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles/Gagner des interets sur Binance/CryptoballZ _ gagner des interets sur Binance 2.jpg" alt="Stacking Binance etape1">
                <p class="mainHome-publication_contain">Parcourez les icônes et sélectionnez « staking« . Vous arriverez alors sur l’interface de <strong><a href="/bitcoin/comment-acheter-du-bitcoin">Binance</a></strong> présentant les différentes cryptomonnaies dont il est possible de staker. Au 31 septembre 2021, Binance proposait 74 cryptomonnaies dont il était possible de staker, et ce chiffre augmente au fur et à mesure.</p>
                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles/Gagner des interets sur Binance/CryptoballZ _ gagner des interets sur Binance 3.jpg" alt="Stacking Binance etape2">
                <p class="mainHome-publication_contain">Si vous parcourez la liste des cryptomonnaies disponible, vous constaterez que les taux d’intérêt vont de plus de 40% à quelques pourcents en fonction de la crypto.</p>
                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles/Gagner des interets sur Binance/CryptoballZ _ gagner des interets sur Binance 4.jpg" alt="Stacking Binance etape3">
                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles/Gagner des interets sur Binance/CryptoballZ _ gagner des interets sur Binance 5.jpg" alt="Stacking Binance etape3bis">
                <p class="mainHome-publication_contain">Pour notre article, nous allons prendre comme exemple le SOL (Solana). Nous avons auparavant acheté 1 SOL que nous souhaitons staker. Dans la liste des cryptomonnaies proposées nous sélectionnons le SOL.</p>
                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles/Gagner des interets sur Binance/CryptoballZ _ gagner des interets sur Binance 6.jpg" alt="Stacking Binance etape4">
                <p class="mainHome-publication_contain">Vous constatez qu'il existe plusieurs durées de staking allant de 30 à 90 jours. Plus la durée, pour laquelle les crypto seront bloquées, est longue plus la récompense (le taux d’intérêt sera important). Pour le 90 jours, toutes les places ont été prises et n’est donc plus disponible. On sélectionne « Stake now » pour 30 jours.</p>
                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles/Gagner des interets sur Binance/CryptoballZ _ gagner des interets sur Binance 7.jpg" alt="Stacking Binance etape5">
                <p class="mainHome-publication_contain">Sur cette page, différentes informations apparaissent : la quantité de Sol disponible dans notre Wallet (ici 1 SOL), le minimum de SOL que l’on peut staker (ici 0,10000 SOL), le maximum de SOL que l’on peut staker (ici 9997 SOL).</p>
                <p class="mainHome-publication_contain">On rentre la quantité de SOL que l’on souhaite staker, ici 1 SOL. On constate dans le tableau d’en dessous que si on stake 1 SOL avec un taux d’intérêt de 9,2% pendant 30 jours, on se retrouvera avec 0,00756150 SOL en plus dans notre portefeuille donc 1,0075610 SOL. Et cela sans rien faire d’autre !</p>
                <p class="mainHome-publication_contain">Attention, pour votre calcul ! Les 9,2% de l’APY (retour sur l’investissement) présentés sont pour une année. C’est à dire que si vous bloquez vos Cryptos pendant une année entière pour gagnerez 9,2% d’intérêt. Hors, dans l’exemple présenté, le staking est de 30 jours, donc si on rapporte les intérêts au jour et que l’on multiple par 30, cela nous fait 0,756%  d’intérêts. Ce qui est quand même pas mal si on regarde le taux d’intérêt du Livret A !</p>
                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles/Gagner des interets sur Binance/CryptoballZ _ gagner des interets sur Binance 8.jpg" alt="Stacking Binance etape6">
                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles/Gagner des interets sur Binance/CryptoballZ _ gagner des interets sur Binance 9.jpg" alt="Stacking Binance etape7">
                <p class="mainHome-publication_contain">On valide les engagements et on confirme. Et c’est parti !</p>
                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles/Gagner des interets sur Binance/CryptoballZ _ gagner des interets sur Binance 10.jpg" alt="Stacking Binance etape8">

            
                <h3 class="mainHome-publication_subtitle">Le staking sur Binance avec l’ordinateur</h3>
                <p class="mainHome-publication_contain mainHome-publication_contain--first">Sur votre ordinateur, connectez vous à votre compte Binance.</p>
                <img class="mainHome-publication_contain-landPicture" src="/img/articles/Gagner des interets sur Binance/CryptoballZ _ gagner des interets sur Binance 13.jpg" alt="Stacking Binance etape 1 sur ordinateur">
                <p class="mainHome-publication_contain">Dans l’onglet « Portefeuille », sélectionnez « Gagner des cryptos ».</p>
                <img class="mainHome-publication_contain-landPicture" src="/img/articles/Gagner des interets sur Binance/CryptoballZ _ gagner des interets sur Binance 14.jpg" alt="Stacking Binance etape 2 sur ordinateur">
                <p class="mainHome-publication_contain">Sur la droite de « Gagner des cryptos », cliquez sur <strong>"Produits de staking Binance"</strong> </p>
                <img class="mainHome-publication_contain-landPicture" src="/img/articles/Gagner des interets sur Binance/CryptoballZ _ gagner des interets sur Binance 15.jpg" alt="Stacking Binance etape 3 sur ordinateur">
                <p class="mainHome-publication_contain">Pour le reste des étapes, il suffit de suivre les mêmes étapes que sur l’application Binance.</p>
                <p class="mainHome-publication_contain mainHome-publication_contain--conclusion">En conclusion, le staking est un mécanisme très simple, sans risque permettant de gagner gratuitement des intérêts en cryptomonnaies.</p>
                    
            </article>

            <article class="mainHome-publication">    
                <div id="buyBitcoinMiniature"></div><!-- publication des miniature sur buy Bitcoin -->                
            </article> 
            
            
            
        </main>
    </div>
    </body>
    <footer>
        <%- include ('../partials/footer') %>
        <script src="../js/buyBitcoin.js"></script>
    </footer>
</html>