<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <%- include('../partials/header') %>
    <title>Une cryptomonnaie prometteuse _ CryptoBallZ </title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-container">
                <a href="/"><img class="header-logo" src="../img/CryptoballZ_logo.png" alt="CryptoBallZ logo"></a>
                <!-- the menu -->
                <%- include('../partials/menu') %>             
                
            </div>    
        </header>
        <main class="mainHome">
            <article class="mainHome-header_article">
               <div class="mainHome-header_article_img">
                    <img class="mainHome-header_article_img-picture" src="../img/articles\Une cryptomonnaie prometteuse\CryptoballZ _cryptomonnaie prometteuse.jpg" alt="Une cryptomonnaie prometteuse">                    
               </div> 
               <div class="mainHome-header_article_container">     
                    <h1 class="mainHome-header_article_container-title">Une cryptomonnaie prometteuse !</h1>
                    <p class="mainHome-header_article-presentation">Nous voyons beaucoup de commentaires ou de demandes sur les réseaux sociaux de personnes qui souhaitent investir dans une cryptomonnaie prometteuse. Quelle sera la cryptomonnaie la plus prometteuse pour 2022 ou les années suivantes ? Une crypto qui fera un x10 voir un x100 sur votre investissement initial et cela en peu de temps. Cela existe, cependant pour très peu de personnes. Beaucoup de petits investisseurs ont perdu de l’argent en investissant dans des projets sans rien derrière, sans <strong><a href="/faq#roadmap">roadmap</a></strong>. Nous vous apportons quelques conseils à suivre afin de trouver par vous-même les cryptomonnaies les plus prometteuses.</p>
                </div>
            </article> 

            <article class="mainHome-publication">
                <h2 class="mainHome-publication_title">Ne tombez surtout pas dans le FOMO !</h2>
                <p class="mainHome-publication_contain mainHome-publication_contain--first">Si vous allez régulièrement sur les forums parlant des cryptomonnaies, des NFT ou de la cryptosphère en générale vous avez surement croisé le terme : <strong><a href="/faq#fomo">FOMO</a></strong>. FOMO désigne en anglais Fear Of Missing. Littéralement en français, cela signifie :</p>
                <p class="mainHome-publication_contain--italic">« la peur de rater quelque chose », cette peur de rater le train en marche.</p>
                <p class="mainHome-publication_contain">Dans le monde des cryptomonnaies, pour de nombreux petits porteurs, cette peur se caractérise par le fait de rater l’augmentation ou l’explosion du cours d’une crypto, de rater cet investissement qui pourrait être la chance de notre vie pour devenir enfin riche ! Fin 2017, début 2018, on était en plein <strong><a href="/faq#bullRun" target="_blank">bull run</a></strong> (période durant laquelle le <strong><a href="/bitcoin" target="_blank">Bitcoin</a></strong>, l’ether et les autres cryptomonnaies enregistrent la plus forte croissance de leur cours), le cours du Bitcoin s’est envolé. Voyant cela beaucoup de personnes se sont précipitées d’acheter du bitcoin pour ne pas rater cette opportunité. Malheureusement, le cours du bitcoin s’est effondré par la suite et beaucoup de personnes, ayant revendu au creux du <strong><a href="/faq#buyTheDip">dip</a></strong>, ont perdu de l’argent.</p>
                <p class="mainHome-publication_contain">Nous vous déconseillons donc d’acheter une cryptomonnaie lorsque le cours de cette dernière est déjà monté de plusieurs centaines de pourcents en un laps de temps réduit. Il vaut mieux attendre une baisse significative (dizaine de pourcents), un pullback, afin d’acheter votre crypto et de <strong><a href="/faq#buyTheDip">"buy the dip"</a></strong>.</p>
            </article>
                
            <article class="mainHome-publication">
                <h2 class="mainHome-publication_title">DYOR ! Vérifiez par vous même le projet !</h2>
                <p class="mainHome-publication_contain mainHome-publication_contain--first">DYOR est un terme qui vous permettra d’éviter de tomber dans la multitude d’arnaques que compte le monde des cryptomonnaies. <strong><a href="/faq#DYOR">DYOR</a></strong> est un acronyme qui vient de l’anglais Do Your Own Research ! Littéralement en français, cela signifie « faites votre propre recherche ! ». Ce terme n’est pas propre aux cryptos mais dans la cryptosphère, il a toute son importance.</p>
                <img class="mainHome-publication_contain-portraitPicture" src="/img/articles\Une cryptomonnaie prometteuse\CryptoballZ _cryptomonnaie prometteuse_dyor.jpg" alt="DYOR Do Your Own Research">
                <p class="mainHome-publication_contain mainHome-publication_contain--first">Voici l’erreur à ne pas suivre. Vous lisez sur Reddit un article parlant d’une pépite cryptomonnaie prometteuse pour les semaines à venir. Il vous y est dit que très peu de personnes en possèdent (peu de holders). Le cours est encore très bas et lorsque le projet va monter en notoriété, son prix va exploser. Un x100 ou x1000 garantie ! Pour ne pas manquer cette affaire du siècle, vous vous précipitez et vous décidez d’investir dans cette cryptomonnaie qui va vous rendre riche … grosse erreur ! Des articles comme celui là, il en parait des dizaines voir des centaines par jour.</p>
            </article>
            
            <article class="mainHome-publication">
                <h2 class="mainHome-publication_title">Comment trouver une cryptomonnaie prometteuse ?</h2>
                <p class="mainHome-publication_contain mainHome-publication_contain--first">Des cryptomonnaies, il en existe des milliers et des arnaques tout autant ! Après avoir lu un article sur une cryptomonnaie qui semble prometteuse, si le projet vous semble intéressant, faîtes votre DYOR.</p>
                <ul>
                    <li class="mainHome-publication_contain-list">Regardez s’il y a une équipe derrière ce projet, les membres sont-ils connus, d’où ils viennent,…</li>
                    <li class="mainHome-publication_contain-list">Lisez les différents commentaires sur cet article</li>
                    <li class="mainHome-publication_contain-list">Le projet possède t’il un site Internet, si oui, parcourez le et lisez le attentivement</li>
                    <li class="mainHome-publication_contain-list">Le projet dispose possède t’il une roadmap ?</li>
                    <li class="mainHome-publication_contain-list">Le token est il déjà listé ?</li>
                    <li class="mainHome-publication_contain-list">Vérifiez si des influenceurs parlent du projet et si oui, vérifiez qu’il s’agit bien du compte officiel de l’influenceur.</li>                                       
                </ul>
            </article>

            <article class="mainHome-publication">
                <h2 class="mainHome-publication_title">Consacrer qu’une petite part de votre portefeuille de cryptomonnaies</h2>
                <p class="mainHome-publication_contain mainHome-publication_contain--first">près avoir fait votre DYOR, le projet vous semble prometteur et vous décidez d’investir dans cette cryptomonnaie. Si le projet vous semble intéressant, n’investissez pas tout votre portefeuille. Consacrez uniquement 5 à 10% de votre portefeuille à adapter en fonction de la somme globale que vous souhaitez investir dans les cryptos. De cette manière, si le cours de la crypto en question explose tant mieux pour vous, mais s’il s’agissait d’une arnaque, votre portefeuille sera que peu impacté.</p>
                <p class="mainHome-publication_contain">Pour le reste du montant que vous souhaitez investir dans la cryptosphère (80 à 90% de votre portefeuille), privilégiez d’acheter des cryptomonnaies qui sont dans le top 10 ou top 15 en terme capitalisation du marché des cryptos : bitcoin, ether, …. Vous pouvez retrouver l’ensemble des cryptomonnaies listées sur le site de <strong><a href="https://www.coingecko.com/fr" target="_blank">CoinGecko</a></strong></p>
            </article>

            <article class="mainHome-publication">
                <p class="mainHome-publication_contain mainHome-publication_contain--conclusion">En conclusion, ne foncez pas tête baissée dans l’achat d’une cryptomonnaie. Prenez le temps d’analyser le projet en question. Des opportunités dans le monde des cryptomonnaies, il y en a tous les jours donc soyez patient.</p>                
            </article>

            <section class="mainHome-publication">    
                <div id="buyBitcoinMiniature"></div><!-- publication des miniature sur buy Bitcoin -->                
            </section> 
            
            
            
        </main>
    </div>
    </body>
    <footer>
        <%- include ('../partials/footer') %>
        <script src="../js/buyBitcoin.js"></script>
    </footer>
</html>